@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
  background-color: #eee;
}

.vh-35 {
  height: 35vh !important;
}

.min-vh-15 {
  min-height: 15vh !important;
}

.max-vh-15 {
  max-height: 15vh !important;
}


.buttons button {
  margin: 3px;
  font-size: 12px;
}

.fs-0 {
  font-size: 0.875rem;
}

.rate {
  float: left;
  padding: 0 10px 0 0;
}
